* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: bisque;
}

body.background16 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d6caeb;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  padding: 5px;
  margin: 10px;
  color: blueviolet;
}

.rows {
  padding: 1em;
}

nav {
  background-color: #d999e1;
  justify-content: end;
}

nav.rows {
  flex-direction: row;
}

a {
  color: purple;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a.songs {
  color: red;
  text-decoration: underline;
}

a.current {
  color: #451d5d;
  text-decoration: underline;
}

nav a {
  display: inline-block;
  padding: 5px;
}

header.header16 {
  text-align: center;
  padding-bottom: 10px;
}

header {
  text-align: left;
  padding-left: 30px;
  padding-top: 100px;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin: 0;
  color: #451d5d;
}

.column {
  width: 50%;
  margin: 0 auto;
  margin-top: 6px;
  padding: 20px;
  padding-bottom: 50px;
}

.box16 .rows {
  justify-content: center;
}

.box16 {
  padding: 1px;
  margin: 1vw;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.box16 h2 {
  font-family: "bebas neue", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f63684;
  font-size: 35px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid #d999e1;
  padding: 10px;
  margin: 1vw;
  border-radius: 30px;
  display: inline-block;
  flex-basis: 300px;
  background-color: #fff;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.content h2 {
  text-align: center;
  margin: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #451d5d;
  font-size: 30px;
}

.content p {
  padding: 1px;
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  line-height: 180%;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

figcaption {
  padding-bottom: 20px;
}

h3 {
  margin-top: 15px;
  margin-bottom: -12px;
  -webkit-text-stroke: .5px #000;
  font-family: Arial, Helvetica, sans-serif;
}

.yeojin {
  color: orange;
}

.chuu {
  color: #ffc59e;
}

.hyunjin {
  color: #fffc41;
}

.jinsoul {
  color: #1a31ff;
}

.yves {
  color: #800020;
}

.heejin {
  color: #ff58c7;
}

.kimlip {
  color: #ff0000;
}

.oliviahye {
  color: #505050;
}

.gowon {
  color: #23caca;
}

.choerry {
  color: #a50aff;
}

.vivi {
  color: #ffb9d9;
}

.haseul {
  color: #317c2a;
}

.discography16 .rows {
  justify-content: center;
}

.discography16 {
  border: 1px;
  margin-left: 20px;
  padding-left: 20px;
  justify-content: center;
}

.content3 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 1vw;
  display: inline-block;
  flex-basis: 300px;
}

.pose {
  position: relative;
  width: 100%;
}

footer {
  background-color: #d999e1;
  padding: 1vw 3vw;
}

section.cube {
  margin: 10px;
  border: auto;
  border-style: solid;
  border-width: 5px;
  padding: 5px;
  color: #d74291;
  flex-wrap: wrap;
  display: flex;
  border-color: aquamarine;
  font-weight: bold;
}

img {
  max-width: 60%;
  width: 200px;
  border: 10px;
  border-color: #d74291;
}

iframe {
  width: 30%;
}
